.ui.left.icon.input {
    width: 70%;
}

.client-form-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre-cliente {
    width: 80%;
    text-align: center;
}