.content {
    text-align: center;
}

.menu-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-selector h3 {
    position: absolute;
    top: 0%;
    width: 100%;
}

.name-user {
    position: absolute;
    top: 15%;
    font-size: 40px;
}

.name-user span {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: rebeccapurple;
}

.menu-card-main {
    cursor: pointer;
}

.precio-items {
    text-align: center;
}

.text-change-name-modal {
    padding: 20px;
}