.content {
    text-align: center;
}

.menu-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.name-user {
    position: absolute;
    top: 15%;
    font-size: 40px;
}